.active{
    transition: 0.3s ease-in-out;
    background-color: #C7C8CC;
   
}

.flex-container {
    position: relative;
}

.new-button {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    
    
   
}

.flex-container:hover .new-button {
    display: block;
}
