
  a {
    text-decoration: none;
    font-weight: 300;
    color: white;
    &.active svg path {
        fill: white; 
        transition: 0.3s ease-in;
      }
    &.active  {
   
        border-left: 1px solid #DDDDDD
      }
  }


nav{
    border-top: 1px solid #ccc;
}