
  a {
    text-decoration: none;
    font-weight: 300;
    color: black;
    &.active  {
   background-color:  rgb(243 244 246);
        border-left: 1px solid #DDDDDD
      }
  }

aside {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

/* Trong file CSS toàn cục */
body {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

body.isAsideVisible {
  margin-left: 64px; /* Đảm bảo phần nội dung chính không bị che phủ bởi sidebar */
}


.none {
  display: none;
}