<div class="quiz-container" id="quiz">
    <h2 id="question">{{ currentQuizData.question }}</h2>
    <div class="loading-bar">
      <div class="loading-bar-progress" id="loading-bar-progress"></div>
    </div>
    <ul>
      <li>
        <input type="radio" name="answer" id="a" class="answer">
        <label for="a" id="a_text">{{ currentQuizData.a }}</label>
      </li>
      <li>
        <input type="radio" name="answer" id="b" class="answer">
        <label for="b" id="b_text">{{ currentQuizData.b }}</label>
      </li>
      <li>
        <input type="radio" name="answer" id="c" class="answer">
        <label for="c" id="c_text">{{ currentQuizData.c }}</label>
      </li>
      <li>
        <input type="radio" name="answer" id="d" class="answer">
        <label for="d" id="d_text">{{ currentQuizData.d }}</label>
      </li>
    </ul>
    <button id="submit">Next <i class="fa-solid fa-chevron-right"></i></button>
  </div>