<div class="container mx-auto">
    <div class="popular-channel-item m-4">
        <div class="title-popular m-4">
            <p class="text-2xl mb-4">Người dùng phổ biến</p>
            <a
                routerLink="/populer"  
                class="bg-white hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded inline-block min-w-[auto]"
                routerLinkActive="active"><i class="pi pi-angle-left"></i>Quay lại</a>
        </div>
        <div class="grid grid-cols-4">
            <div class="item-popular mx-4 " *ngFor="let users of topUser ">
                <div class="item-infor mt-4">
                    <a *ngIf="users" >
                        <div class="flex">
                            <img
                              *ngIf="users"
                              class="w-12 h-12 rounded-full object-cover mr-4 shadow"
                              [src]="users.avatar"
                              alt="avatar"
                            />
                            <a routerLink="/user/{{ users.slug }}">
                                <h2
                                class="text-lg font-semibold text-gray-900 mt-1"
                                *ngIf="users"
                              >
                                {{ users.username }}
                              </h2>
                            </a>
                          </div>
                    </a>
                    <small class="text-sm text-gray-700">{{ users.createdAt }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
