<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <app-btn-add [targetRoute]="'/admin/articles/add-article'"></app-btn-add>
    <table
      class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-2 py-3">#</th>
          <th scope="col" class="px-2 py-3">Of podcasts</th>
          <th scope="col" class="px-2 py-3">Title</th>
          <th scope="col" class="px-2 py-3">Description</th>
          <th scope="col" class="px-2 py-3">Audio url</th>
        
          <th scope="col" class="px-2 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let episode of episodes; let i = index"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            class="px-2 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ i + 1 }}
          </th>
          <th
            class="px-2 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ episode?.idPodcast?.title }}
          </th>
        
          <td class="px-2 py-3" title="{{ episode.title}}">
            {{ truncateDescription(episode.title)}}
          </td>
          <td class="px-2 py-3">
            {{ truncateDescription(episode.description) }}
          </td>
          <td class="px-2 py-3">
            <a [href]="episode.audioUrl" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play"><polygon points="6 3 20 12 6 21 6 3"/></svg></a>
          </td>
         
          <td class="px-2 py-3 flex items-center">
            <app-btn-edit [targetRoute]="'/admin/episode/' + episode._id"></app-btn-edit>
  
            <app-toast></app-toast>
            <app-btn-delete ></app-btn-delete>
  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
