<div class="container mx-auto">
  <div class="popular-raido-item m-4">
    <div class="title-popular m-4">
      <p class="text-2xl mb-4">Radio phổ biến</p>
      <a
        routerLink="/populer-views"
        class="bg-white hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded inline-block min-w-[auto]"
        routerLinkActive="active"
        >Xem thêm</a
      >
    </div>
    <div class="grid grid-cols-4" *ngIf="topItems.length > 0">
      <div *ngFor="let article of topItems">
        <div class="item-popular m-4">
          <a
            routerLink="/articles/{{ article.slug }}"
            routerLinkActive="active"
          >
            <img
              src="{{ article.images[0] }}"
              alt=""
              class="object-cover object-center w-full rounded-lg max-h-96 my-2"
            />
            <p>{{ article.title }}</p>
          </a>
          <div class="item-infor mt-2">
            <app-user
              *ngIf="article && article.postedBy"
              [user]="article.postedBy"
            ></app-user>
            <small class="text-sm text-gray-700">{{ article.createdAt }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="popular-channel-item m-4">
    <div class="title-popular m-4">
      <p class="text-2xl mb-4">Người dùng phổ biến</p>
      <a
        routerLink="/populer-followers"
        class="bg-white hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded inline-block min-w-[auto]"
        routerLinkActive="active"
        >Xem thêm</a
      >
    </div>
    <div class="grid grid-cols-4">
      <div class="item-popular mx-4" *ngFor="let users of topUser">
        <div class="item-infor mt-2">
          <app-user *ngIf="users" [user]="users"></app-user>

          <small class="text-sm text-gray-700">{{ users.createdAt }}</small>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
