
<div class="container mx-auto">
    <div class="popular-raido-item m-4">
        <div class="title-popular m-4">
            <p class="text-2xl mb-4">Radio phổ biến</p>
            <a href="" class="bg-white hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded inline-block min-w-[auto]">Xem thêm</a>
        </div>
        <div class="grid grid-cols-4">
            <div class="item-popular mx-4">
                <img src="https://i.pinimg.com/736x/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg" 
                alt="post">
                <p>pod 1</p>
                <p>nội dung</p>
            </div>
            <div class="item-popular mx-4">
                <img src="https://i.pinimg.com/736x/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg" 
                alt="post">
                <p>pod 2</p>
            </div>
            <div class="item-popular mx-4">
                <img src="https://i.pinimg.com/736x/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg" 
                alt="post">
                <p>pod 3</p>
            </div>
            <div class="item-popular mx-4">
                <img src="https://i.pinimg.com/736x/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg" 
                alt="post">
                <p>pod 4</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="popular-channel-item m-4">
        <div class="title-popular m-4">
            <p class="text-2xl mb-4">Danh mục phổ biến</p>
            <a href="" class="bg-white hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded inline-block min-w-[auto]">Xem thêm</a>
        </div>
        <div class="grid grid-cols-4">
            <div class="item-popular mx-4">
                <img src="https://i.pinimg.com/736x/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg" 
                alt="post">
                <p>pod 1</p>
                <p>nội dung</p>
            </div>
            <div class="item-popular mx-4">
                <img src="https://i.pinimg.com/736x/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg" 
                alt="post">
                <p>pod 2</p>
            </div>
            <div class="item-popular mx-4">
                <img src="https://i.pinimg.com/736x/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg" 
                alt="post">
                <p>pod 3</p>
            </div>
            <div class="item-popular mx-4">
                <img src="https://i.pinimg.com/736x/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg" 
                alt="post">
                <p>pod 4</p>
            </div>
        </div>
    </div>
    
</div>

