<div class="bg-gray-100">
  <div class="container mx-auto py-2">
    <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
      <div class="col-span-4 sm:col-span-3">
        <div class="bg-white shadow rounded-lg p-6">
          <div class="flex flex-col items-center">
            <img
              *ngIf="user && user.avatar && user.avatar.length > 0"
              [src]="user.avatar"
              class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0"
            />

            <h1 *ngIf="user && user.username" class="text-xl font-bold">
              {{ user.username }}
            </h1>
           
              <button title="edit profile" pButton type="button" icon="pi pi-pencil" (click)="showUpdateDialog()">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil"><path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/><path d="m15 5 4 4"/></svg>
              </button>
            
            <div class="mt-6 flex flex-wrap gap-4 justify-center">

             

              <button *ngIf="hideBtnFollower"

                (click)="toggleFollow()"
                [ngClass]="
                  isFollowing
                    ? 'text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700'
                    : 'text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2'
                "
                class="common-class"
              >
                {{ isFollowing ? "Unfollow" : "Follow" }}
              </button>

            

            </div>
          </div>
          <hr class="my-6 border-t border-gray-300" />
          <div class="flex flex-col">

            <span class="text-gray-700 uppercase font-bold tracking-wider mb-2"
              >Email</span
            >
            <ul>
              <li *ngIf="user && user.email" class="mb-2">{{ user.email }}</li>
            </ul>
            <span class="text-gray-700 uppercase font-bold tracking-wider mb-2"
              >Joined the day</span
            >
            <ul>
              <li *ngIf="user && user.createdAt" class="mb-2">
                {{ user.createdAt }}
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-4 sm:col-span-9">
        <div class="bg-white shadow rounded-lg p-6">

          <p-tabView (onChange)="onTabChange($event)">
            <p-tabPanel
              header="Articles posted ({{userArticles.length}})"
              [routerLink]="['.']"
              fragment="articles-posted"
            >
              <div
                class="mb-6 p-3 rounded-md"
                *ngFor="let article of userArticles"
                id="cardArticle"
              >
                <a routerLink="/articles/{{ article.slug }}">
                  <div class="flex justify-between flex-wrap gap-2 w-full">
                    <div class="flex justify-between flex-wrap gap-2 w-full">
                      <span class="text-gray-700 font-bold">{{
                        article.title
                      }}</span>
                      <p>
                        <span class="text-gray-700">{{
                          article.createdAt
                        }}</span>
                      </p>
                    </div>
                  </div>
                  <div class="flex">
                    <img
                      [src]="article.images[0]"
                      class="w-32 h-32 bg-gray-300 rounded-md mr-4 shrink-0"
                    />
                    <p class="mt-2 text-balance">
                      {{ article.content }}
                    </p>
                  </div>
                </a>
              </div>
            </p-tabPanel>
            <p-tabPanel
              header="Followed ({{followed.length}})"
              [routerLink]="['.']"
              fragment="followed"
            >
              <div *ngFor="let follower of followed">
                <div class="shadow-md p-2 w-fit">
                  <app-user
                    class="shadow-md"
                    *ngIf="follower && follower.userId"
                    [user]="follower.userId"
                  ></app-user>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel
              header="Favorited article ({{favorites.length}})"
              [routerLink]="['.']"
              fragment="favorited-article"
            >
              <div
                class="mb-6 p-3 rounded-md"
                *ngFor="let article of favorites"
                id="cardArticle"
              >
                <a routerLink="/articles/{{ article.slug }}">
                  <div class="flex justify-between flex-wrap gap-2 w-full">
                    <div class="flex justify-between flex-wrap gap-2 w-full">
                      <span class="text-gray-700 font-bold">{{
                        article.title
                      }}</span>
                      <p>
                        <span class="text-gray-700">{{
                          article.createdAt
                        }}</span>
                      </p>
                    </div>
                  </div>
                  <div class="flex">
                    <img
                      [src]="article.images[0]"
                      class="w-32 h-32 bg-gray-300 rounded-md mr-4 shrink-0"
                    />
                    <p class="mt-2 text-balance">
                      {{ article.content }}
                    </p>
                  </div>
                </a>
              </div>
            </p-tabPanel>
          </p-tabView>

         

        </div>
      </div>
    </div>
  </div>
</div>


<app-toast></app-toast>
<p-dialog header="Update User" [(visible)]="displayUpdateDialog" [modal]="true" [closable]="false">
  <div class="relative flex flex-col text-gray-700 bg-transparent shadow-xl rounded-xl bg-clip-border p-4">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="max-w-screen-lg mt-8 mb-2 w-80 sm:w-96">
      <div class="flex flex-col gap-6 mb-1">
        <div class="relative h-11 w-full min-w-[200px] flex justify-center">
          <img [src]="user?.avatar" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0" />
        </div>
        <h6 class="block -mb-3 font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
          Avatar
        </h6>
        <div class="relative h-11 w-full min-w-[200px]">
          <input type="file" name="avatar" (change)="onFileChange($event)" class="peer w-full rounded-md bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-gray-900 focus:border-t-transparent focus:!border-t-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
        </div>
        <h6 class="block -mb-3 font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
          Your Name
        </h6>
        <div class="relative h-11 w-full min-w-[200px]">
          <input value="{{ user?.username }}" name="username" type="text" formControlName="username" class="peer h-full w-full rounded-md border border-blue-gray-200 border-t-transparent !border-t-blue-gray-200 bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-gray-900 focus:border-t-transparent focus:!border-t-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
        </div>
        <h6 class="block -mb-3 font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
          Your Email
        </h6>
        <div class="relative h-11 w-full min-w-[200px]">
          <input value="{{ user?.email }}" name="email" type="email" formControlName="email" class="peer h-full w-full rounded-md border border-blue-gray-200 border-t-transparent !border-t-blue-gray-200 bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-gray-900 focus:border-t-transparent focus:!border-t-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
        </div>
      </div>
      <button class="mt-6 block w-full select-none rounded-lg bg-gray-900 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="submit">Update</button>
      <a pButton type="button" label="Cancel" icon="pi pi-times" (click)="hideUpdateDialog()" class="mt-6 block w-full select-none rounded-lg bg-gray-700 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"></a>
    </form>
  </div>
</p-dialog>

