<!-- component -->
<!-- This is an example component -->
<div class="w-full">
  <div
    class="flex w-full bg-white shadow-md rounded-lg overflow-hidden mx-auto"
  >
    <div class="flex flex-col w-full">
      <div class="flex flex-col p-5">
        <div class="border-b pb-1 flex justify-between items-center mb-2">
          <span class="text-base font-semibold uppercase text-gray-700">
            play list</span
          >
          <img
            class="w-4 cursor-pointer"
            src="https://p.kindpng.com/picc/s/152-1529312_filter-ios-filter-icon-png-transparent-png.png"
          />
        </div>

        <div
          *ngFor="let episode of episodes"
          class="flex border-b py-3 cursor-pointer hover:shadow-md px-2"
        >
          <div class="flex flex-col px-2 w-full">
            <span class="text-sm text-red-500 capitalize font-semibold pt-1">
              {{ episode.title }}
            </span>
            <span class="text-xs text-gray-500 uppercase font-medium">
              {{ episode.description }}
            </span>
            <button (click)="playEpisode(episode)" class="flex justify-center items-center w-16 h-10 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100  focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 4v16l14-8z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="playlist">


  <div
    class="audio-player flex items-center justify-between flex-col"
    *ngIf="currentAudioUrl"
  >

 
      <div *ngIf="isPlaying" class="pt-1  w-full ml-14">
                    <p class="text-xs text-gray-700 uppercase font-medium">now playing</p>
                    <p class="text-sm text-red-500 capitalize font-semibold pt-1">
                 {{ currentPlaying?.title }}
                    </p>
                  </div>
            <div class="control-buttons flex items-center  space-x-2">
              
              <button class="control-button" (click)="prev()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ef4444"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-step-back w-4 h-4"
                >
                  <line x1="18" x2="18" y1="20" y2="4" />
                  <polygon points="14,20 4,12 14,4" />
                </svg>
              </button>
              <button class="control-button" (click)="rewind()">
                <svg
                  class="w-4 h-4"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ef4444"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <polygon points="19 20 9 12 19 4 19 20"></polygon>
                  <line x1="5" y1="19" x2="5" y2="5"></line>
                </svg>
              </button>
              <button class="play-button" (click)="togglePlay()">
                <span class="icon">
                  <svg
                    *ngIf="!isPlaying"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-play"
                  >
                    <polygon points="5 3 19 12 5 21 5 3"></polygon>
                  </svg>
                  <svg
                    *ngIf="isPlaying"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-pause"
                  >
                    <rect x="14" y="4" width="4" height="16" rx="1"></rect>
                    <rect x="6" y="4" width="4" height="16" rx="1"></rect>
                  </svg>
                </span>
              </button>
              <button class="control-button" (click)="forward()">
                <svg
                  class="w-4 h-4"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ef4444"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <polygon points="5 4 15 12 5 20 5 4"></polygon>
                  <line x1="19" y1="5" x2="19" y2="19"></line>
                </svg>
              </button>
              <button class="control-button" (click)="next()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ef4444"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-step-forward w-4 h-4"
                >
                  <line x1="6" x2="6" y1="4" y2="20" />
                  <polygon points="10,4 20,12 10,20" />
                </svg>
              </button>

          <div class="ml-3 playback-rate">
            <select (change)="changePlaybackRate($event)">
              <option value="0.5">0.5x</option>
              <option value="1" selected>1x</option>
              <option value="1.5">1.5x</option>
              <option value="2">2x</option>
            </select>
          </div>
        </div>
        <div class="progress-container flex items-center space-x-2">
          <span class="time-display">{{ currentTime }}</span>
          <div class="progress-bar" (click)="seek($event)">
            <div class="progress" [style.width.%]="progress"></div>
          </div>
          <span class="time-display">{{ duration }}</span>
        </div>
 

  </div>
</div>
