:root {
    --accent-color: #c7b0c3;
}

* {
    box-sizing: border-box;
}

.about-item{
    border-radius: 5px;
    height: 200px;
    width: 25rem;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
}
