
<div class="container mx-auto">
    <div class="">
        <h1>About Us</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="about-item">
                <h4>Pob Cats là ai ?</h4>
                <p>"Pob Cats là một trang web về ẩm thực trực tuyến với một bộ sưu tập đa dạng các món ăn."
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="about-item">
                <h4>Pob Cats làm được gì ?</h4>
                <p>"Trong thế giới phong phú của ẩm thực, 
                    chúng ta không chỉ được thưởng thức những món ăn ngon mắt mà còn là những câu chuyện độc đáo và hấp dẫn."
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="about-item">
                <h4>Tại sao phải chọn Pob Cats</h4>
                <p>"Pob Cats cũng cung cấp các dịch vụ giao hàng nhanh chóng và hỗ trợ khách hàng nhiệt tình."</p>
            </div>
        </div>
    </div>
</div>
<div class="container mx-auto mt-5">
    <p>
        "Chào mừng đến với không gian âm nhạc của ẩm thực, nơi những món ăn ngon và những câu chuyện hấp dẫn kết hợp để tạo nên trải nghiệm âm thanh đầy sáng tạo và đáng nhớ."
    </p>
</div>

<div class="container mx-auto mt-6">
    <div class="about-img">
        <img src="https://dominofilm.vn/uploads/albums/2019/01/photo_5c495cf04fcea.jpg" alt="img">
    </div>
</div>
