
<div class="container mx-auto">
    <div class="about-title" align="center">
        <h1>About Us</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="about-item">
                <i>Pob Cats là ai ?</i>
                <p>"Pob Cats là một trang web về ẩm thực trực tuyến với một bộ sưu tập đa dạng các món ăn."
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="about-item">
                <i>Pob Cats làm được gì ?</i>
                <p>"Trong thế giới phong phú của ẩm thực, 
                    chúng ta không chỉ được thưởng thức những món ăn ngon mắt mà còn là những câu chuyện độc đáo và hấp dẫn."
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="about-item">
                <i>Tại sao phải chọn Pob Cats</i>
                <p>"Pob Cats cũng cung cấp các dịch vụ giao hàng nhanh chóng và hỗ trợ khách hàng nhiệt tình."</p>
            </div>
        </div>
    </div>
</div>
<div class="container mx-auto mt-5">
    <p>
        "Chào mừng bạn đến với Web Podcast - ngôi nhà của những câu chuyện thú vị về ẩm thực!
        Tại  Web Podcast," chúng tôi đem đến cho bạn những trải nghiệm âm thanh độc đáo về thế giới ẩm thực. Từ những bí quyết nấu ăn đơn giản đến các công thức phức tạp, từ việc khám phá văn hóa ẩm thực đến việc tìm hiểu về nguồn gốc của các món ăn, chúng tôi cung cấp một loạt các nội dung hấp dẫn và bổ ích cho người yêu thích nấu nướng và thưởng thức ẩm thực.
        Với đội ngũ chuyên gia ẩm thực, đầu bếp tài năng, nhà làm podcast và người yêu thích ẩm thực, chúng tôi mang đến cho bạn những cuộc trò chuyện sôi động, phỏng vấn thú vị, và những lời khuyên hữu ích từ những người có kinh nghiệm.
        Hãy cùng chúng tôi bước vào hành trình khám phá vị giác và mở rộng kiến thức về ẩm thực! Hãy đắm chìm trong thế giới đầy màu sắc và hương vị của ẩm thực qua những giai điệu, tiếng nói, và câu chuyện tại  Web Podcast."
    </p>
</div>

<!-- <div class="container mx-auto mt-6">
    <div class="about-img">
        <img src="https://dominofilm.vn/uploads/albums/2019/01/photo_5c495cf04fcea.jpg" alt="img">
    </div>
</div> -->
