<p-button (click)="showDialog()" label="Forgot password?"></p-button>
<p-dialog
  header="Forgot Password"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-5">Enter your email.</span>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit($event)">
    <div class="flex align-items-center flex-col gap-3 mb-5">
      <label for="email" class="font-semibold w-6rem">Email</label>
      <input
        pInputText
        id="email"
        class="peer h-full w-full rounded-md border border-blue-gray-200 border-t-transparent !border-t-blue-gray-200 bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-gray-900 focus:border-t-transparent focus:!border-t-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
        autocomplete="on"
        placeholder="Enter your email"
        formControlName="email"
      />
      <small
        *ngIf="forgotPasswordForm.get('email')?.errors?.['required'] && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"
        class="text-red-600"
      >
        Email is required.
      </small>
      <small
        *ngIf="forgotPasswordForm.get('email')?.errors?.['email'] && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"
        class="text-red-600"
      >
        Invalid email format.
      </small>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="visible = false"
        [disabled]="loading"
      ></p-button>
      <p-button
        label="Submit"
        type="submit"
        [disabled]="forgotPasswordForm.invalid || loading"
      ></p-button>
    </div>
  </form>
  <p *ngIf="loading" class="loading-indicator">Loading...</p>
  <p *ngIf="success" class="text-green-600 success-message">Password reset email sent successfully!</p> 
  

  <p *ngIf="error" class="error-message">{{ error }}</p>

</p-dialog>
